<div class="container ">
  <div class="row justify-content-center">
    <mat-card class="col-4 card">
      <mat-card-header> Login for the tokensale
      </mat-card-header>
      <form [formGroup]="loginForm">

        <mat-card-content>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Enter your email" formControlName="email">
                <mat-error *ngIf="loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('email')">Not a valid email</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <label class="mat-body-1">{{"  " + errorMessage}}</label>
            </div>
            <div class="justify-content-center">
             <button mat-raised-button color="primary" class="col" (click)="tryLogin(loginForm.value)">
              Login
            </button>
           </div>
          </mat-card-content>
        </form>
        <div class="justify-content-center">
          <p class="mat-body-1"> 
            No account yet? <a class="mat-body-1" href="/register">Create an account</a>
          </p>
        </div>
    </mat-card>
  </div>
</div>
