<div class="container">
  <div class="row">
    <form [formGroup]="angForm" class="col-6" novalidate>
      <mat-vertical-stepper>
        <mat-step label="Personal data">
          <mat-grid-list cols="2" rowHeight="65px">
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="First Name" formControlName="firstName" required>
                  <mat-error>
                    First name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Last Name" formControlName="lastName" required>
                  <mat-error>
                    Last name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Address line 1" formControlName="address1" required>
                  <mat-hint>
                    Street, P.O. box, company name
                  </mat-hint>
                  <mat-error>
                    Address is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Address line 2" formControlName="address2">
                  <mat-hint>
                    Apartment, suite, unit, building, floor etc.
                  </mat-hint>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Zip code" formControlName="zipCode" required>
                  <mat-error>
                    Zip code is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="City" formControlName="city" required>
                  <mat-error>
                    City is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="State/Province/Region" formControlName="state" required>
                  <mat-error>
                    State/Province/Region is required
                  </mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group">
                <mat-form-field>
                  <mat-select placeholder="Country" formControlName="country" required>
                    <mat-option *ngFor="let country of countries" [value]="country">
                      {{ country }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-step>
        <mat-step label="Etherum wallet data">
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Ethereum public address" formControlName="ethAddress" required>
              <mat-error>
                Ethereum address is required
              </mat-error>
            </mat-form-field>
          </div>
        </mat-step>
        <mat-step label="ID/Passport images">
          <div class="form-group">
            <div class="row mt-2">
              <label class="mat-body-1 col-8">ID/Passport photo side 1</label>
              <input type="file" [hidden]="true" (change)="onFile1Changed($event)" #file1>
              <button mat-raised-button color="primary" class="col-4" #upload (click)="file1.click()">
                Choose file
              </button>

              <mat-progress-bar class="progress-bar mb-1" mode="determinate" [value]="(uploadProgress1 | async)"></mat-progress-bar>
              <p class="ml-2" *ngIf="progressCompleted1">File uploaded successfully</p>

            </div>
          </div>
          <div class="form-group">  
            <div class="row mt-3">
              <label class="mat-body-1 col-8">ID/Passport photo side 2</label>
              <input type="file" [hidden]="true" (change)="onFile2Changed($event)" #file2>
              <button mat-raised-button color="primary" class="col-4" #upload (click)="file2.click()">
                Choose file
              </button>
              <mat-progress-bar mode="determinate" class="progress-bar mb-1" [value]="(uploadProgress2 | async)"></mat-progress-bar>
            </div>
            <p class="ml-2" *ngIf="progressCompleted2">File uploaded successfully</p>
          </div>
        </mat-step>
        <mat-step label="Submit">
          <div class="form-group">
            <button mat-raised-button color="primary"  (click)="submitInvestorToVerify()" [disabled]="angForm.pristine || angForm.invalid" class="primary col-2">Submit</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>

  </div>
</div>

