<div class="container">
  <mat-vertical-stepper #stepper >
    <mat-step label="Please follow steps">
      <p><a href="/index/create">{{ kycStatusLabel }}</a></p>

      <p class="alert alert-light">Its very important to follow steps to make sure that transation will be secure</p>

      <div class="alert alert-secondary">
        <h3>Already made a payment?</h3>
        <p> If you are ready to insert transaction details click button below. This is final and mandatory step to receive the coins </p>
        <button class="center" mat-raised-button color="accent" (click)="goTo(3)">Enter transaction details</button>

      </div>
    </mat-step>
    <mat-step label="Checkout security checklist">
      <div class="center mt-2">
        <ol class=" alert alert-danger"><h1 class="display-4">Security Cheklist:</h1>

          <li>Make sure you see the keylock with secure connection on the address bar
           </li>
          <li> We will publish the address via a selfie photo on our official Telegram Group (link) and Twitter (link)</li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </mat-step>

    <mat-step label="Choose payment method">

      <mat-grid-list cols="2" rowHeight="250px">
        <mat-grid-tile>
          <div class="col">

            <!--<form #form action='https://easypaystg.easypaisa.com.pk/easypay/Index.jsf' method='post'>-->
              <!--...-->
              <!--<button type="submit" class="btn btn-success" (click)="form.submit()">Submit</button>-->
              <!--...-->
            <!--</form>-->
            <form #form method="post" action="https://secure.payu.com/api/v2_1/orders" target="_blank">
              <input type="hidden" name="customerIp" value="123.123.123.123">
              <input type="hidden" name="merchantPosId" value="145227">
              <input type="hidden" name="description" value="Order description">
              <input type="hidden" name="totalAmount" value="1000">
              <input type="hidden" name="currencyCode" value="PLN">
              <input type="hidden" name="products[0].name" value="Product 1">
              <input type="hidden" name="products[0].unitPrice" value="1000">
              <input type="hidden" name="products[0].quantity" value="1">
              <input type="hidden" name="notifyUrl" value="http://shop.url/notify">
              <input type="hidden" name="continueUrl" value="http://www.payu.pl">
              <input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=d1c35a13e4abb71d9a7fd20298e27eb2e50f9993763c1a95c46d1e296789a942">
              <button type="submit" style="border: 0px; height: 100px; width: 184px; background: url(../../assets/payuButtonX.png) no-repeat; cursor: pointer;" (click)="form.submit()"></button>
            </form>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="col">
             <a id="changellyButton" href="https://changelly.com/widget/v1?auth=email&from=USD&to=ETH&merchant_id=tkfe18zwhxl4j8n5&address=&amount=1&ref_id=tkfe18zwhxl4j8n5&color=00cf70"
              target="_blank">
            <img src="https://changelly.com/pay_button.png" />
            </a>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>
    <mat-step label="Enter transaction details">
      <div class="mt-5">

          <form [formGroup]="angForm" class="col-8" novalidate>
            Choose one of the following*
          <div class="form-group">
            <mat-radio-group class="example-radio-group" formControlName="options">
              <mat-radio-button value="1">Paid with Credit Card/PayU/Bank wire transfer</mat-radio-button>
              <mat-radio-button value="2">Paid with BTC, ETH, or any other alt-coins</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-group">
            <mat-form-field >
              <mat-select placeholder="Currency" formControlName="currency" required>
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                  {{ currency }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Other currency">
            </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <input matInput placeholder="Amount paid (how much did you pay?)" formControlName="amountPaid" required>
            <mat-error>
              Amount Paid is required
            </mat-error>
          </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <input matInput placeholder="How much coins did you intent to buy ?" formControlName="coinsBought" required>
            <mat-error>
              Coins intended to buy is required
            </mat-error>
          </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <input matInput placeholder="Transaction ID (transaction id on ethereum network or id of your bank wire" formControlName="transactionID">
          </mat-form-field>
          </div>
          <div>
          <mat-form-field>
            <input matInput placeholder="Any other information you would like to tell us ?" formControlName="info">
          </mat-form-field>
          </div>
          <div class="form-group">
            <div class="row mt-2">
              <label class="mat-body-1 col">Please upload screenshot of transaction that you've made</label>
              <input type="file" [hidden]="true" (change)="onFileChanged($event)" #file1>
              <button mat-raised-button color="primary" class="col-4" #upload (click)="file1.click()">
                Choose file
              </button>

              <mat-progress-bar class="progress-bar mb-1" mode="determinate" [value]="(uploadProgress | async)"></mat-progress-bar>
              <p class="ml-2" *ngIf="progressCompleted">File uploaded successfully</p>

            </div>
          </div>
          <div class="form-group">
            <button mat-raised-button color="primary"  (click)="submitTransactionDetails()" [disabled]="angForm.pristine || angForm.invalid" class="primary col-2">Submit</button>
          </div>
          </form>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
