<div class="container">
  <div class="row mt-5">
    <a href="/index/create">{{ kycStatusLabel }}</a>
  </div>
  <div class="row mt-5">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Enter transaction details
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="angForm" class="col-6" novalidate>
      Choose one of the following*
    <div class="form-group">
      <mat-radio-group class="example-radio-group" formControlName="options">
        <mat-radio-button value="1">Paid with Credit Card/PayU/Bank wire transfer</mat-radio-button>
        <mat-radio-button value="2">Paid with BTC, ETH, or any other alt-coins</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currency" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Other currency">
      </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput placeholder="Amount paid (how much did you pay?)" formControlName="amountPaid" required>
      <mat-error>
        Amount Paid is required
      </mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput placeholder="How much coins did you intent to buy ?)" formControlName="coinsBought" required>
      <mat-error>
        Coins intended to buy is required
      </mat-error>
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput placeholder="Transaction ID (transaction id on ethereum network or id of your bank wire" formControlName="transactionID">
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput placeholder="Any other information you would like to tell us ?" formControlName="info">
    </mat-form-field>
    </div>
    <div class="form-group">
      <div class="row mt-2">
        <label class="mat-body-1 col-8">Please upload screenshot of transaction that you've made</label>
        <input type="file" [hidden]="true" (change)="onFileChanged($event)" #file1>
        <button mat-raised-button color="primary" class="col-4" #upload (click)="file1.click()">
          Choose file
        </button>

        <mat-progress-bar class="progress-bar mb-1" mode="determinate" [value]="(uploadProgress | async)"></mat-progress-bar>
        <p class="ml-2" *ngIf="progressCompleted">File uploaded successfully</p>

      </div>
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary"  (click)="submitTransactionDetails()" [disabled]="angForm.pristine || angForm.invalid" class="primary col-2">Submit</button>
    </div>
    </form>
  </mat-expansion-panel>
</div>
  <div class="row mt-5">
    <div class="row">
      <h3 class="display-5">Make payment</h3>
    </div>
    <div class="row">
      <h6 class="mat-display-6 col-12">Choose your payment method:</h6>
      <div class="col">
        <a href="https://shapeshift.io/#/coins">
          <div class="paymentBtn">
            <p>Cryptocurrency</p>

            <img src="../../assets/blob_4Kp3aIl" />
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://shapeshift.io/#/coins">
          <div class="paymentBtn">
            <p>Altcoins</p>
            <img src="../../assets/blob_4Kp3aIl" />
          </div>
        </a>
      </div>
    </div>
    <div class="button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <ol class=" alert alert-danger"><h1 class="display-4">Security Cheklist:</h1>

      <li>Make sure you see the keylock with secure connection on the address bar
       </li>
      <li> We will publish the address via a selfie photo on our official Telegram Group (link) and Twitter (link)</li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</div>

