<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="app-navbar">
    <p>
    <button mat-button routerLink="transactionList" >Transaction List</button>
    </p>
    <p>
      <button mat-button routerLink="userPayment">Send Coins</button>
    </p>
    <!-- <button mat-button routerLink="status">Status</button> -->
    <p>
    <button mat-button routerLink="create">KYC/AML Form</button>
    </p>
    <p>
    <button mat-button routerLink="account-details">Account details</button>
    </p>
    <p>
    <button mat-button (click)="logout()">Logout</button>
    </p>
  </mat-sidenav>
  
<mat-sidenav-content class="container">
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

