<div class="wrapper">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="secondary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>LOGO</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='transactionList'>Transaction List</a>
      <a mat-list-item routerLink='userPayment'>Send coins</a>
      <a mat-list-item routerLink='create'>KYC/AML Form</a>
      <a mat-list-item routerLink='account-details'>Account details</a>
      <a mat-list-item (click)="logout()">Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
