<div class="container">
  <mat-toolbar color="primary" class="sticky-top">
    <span class="logo"><img src="logo.png"/></span>

    <span class="spacer"> </span>

    <a mat-button href="#token-sale">TOKEN SALE</a>
    <a mat-button href="#about">ABOUT</a>
    <a mat-button href="#team">TEAM</a>
    <a mat-button href="#partners">PARTNERS</a>
    <a mat-button href="#roadmap">ROADMAP</a>
    <a mat-button href="#contact">CONTACT</a>

    <button mat-button routerLink="login">Join ICO</button>
  </mat-toolbar>
  <div class="jumbotron" id="token-sale">
    <div class="row">
      <div class="col">
        <h2>Buy our SCAM ICO</h2>
        <button mat-raised-button color="warn" class="center">Sign In</button>
      </div>

      <div class="col">
          <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      </div>
    </div>
  </div>
  <div class="jumbotron" id="about">
      WE will get your money
  </div>

  <div class="jumbotron" id="team">

  </div>
  <div class="jumbotron" id="roadmap">

  </div>
  <div class="jumbotron" id="partners">

  </div>
  <div class="jumbotron" id="contact">

  </div>
</div>
