<div class="container">
  <mat-toolbar color="primary" class="sticky-top">
    <span class="logo"><img src="logo.png"/></span>

    <span class="spacer"> </span>

    <a mat-button href="#token-sale">TOKEN SALE</a>
    <a mat-button href="#about">ABOUT</a>
    <a mat-button href="#team">TEAM</a>
    <a mat-button href="#partners">PARTNERS</a>
    <a mat-button href="#roadmap">ROADMAP</a>
    <a mat-button href="#contact">CONTACT</a>

    <button mat-button routerLink="login">Join ICO</button>
  </mat-toolbar>

  <div class="content mt-4">
    <div class="jumbotron" id="token-sale">
      <h1 class="display-5">TOKEN SALE</h1>

      <div class="row">
        <div class="col">
          <h2>Buy our ICO</h2>
          <button mat-raised-button color="warn" class="center">Sign In</button>
        </div>

        <div class="col">
          ICO PROGRESS
          <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        </div>
      </div>
    </div>
    <div class="jumbotron" id="about">
      <h1 class="display-5">ABOUT</h1>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="jumbotron" id="team">
      <h1 class="display-5">OUR TEAM</h1>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="jumbotron" id="partners">
      <h1 class="display-5">OUR PARTNERS</h1>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron" id="roadmap">
      <h1 class="display-5">ROADMAP</h1>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="jumbotron" id="contact">
      <h1 class="display-5">CONTACT</h1>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

</div>
