<h1 class="mat-display-1">Register an account</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('required') || registerForm.controls['email'].hasError('email')">Not a valid email</mat-error>
          </mat-form-field>
        </div>
        <!--<div class="form-group">-->
        <!--<label>Email address</label>-->
        <!--<input type="email" formControlName="email" class="form-control">-->
        <!--</div>-->
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <!--<mat-error>{{errorMessage}}</mat-error>-->

          </mat-form-field>

          <label class="mat-body-1">{{"  " + errorMessage}}</label>
          <label class="mat-body-1">{{"  " + successMessage}}</label>
          <!--<label class="mat-body-1">{{"  " + errorMessage}}</label>-->


          <!--<label>Password</label>-->
          <!--<input type="password" class="form-control" formControlName="password">-->
          <!--<label class="error">{{errorMessage}}</label>-->
        </div>
        <button mat-raised-button color="primary" (click)="tryRegister(registerForm.value)">Register</button>
        <!--<div class="form-group">-->
          <!--<label>Email address</label>-->
          <!--<input type="email" formControlName="email" class="form-control">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label>Password</label>-->
          <!--<input type="password" class="form-control" formControlName="password">-->
          <!--<label class="error">{{errorMessage}}</label>-->
          <!--<label class="success">{{successMessage}}</label>-->
        <!--</div>-->
        <!--<button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>-->
      </form>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-4">-->
      <!--<button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Register with Facebook</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-4">-->
      <!--<button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Register with Google</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4 col-md-offset-4">-->
      <!--<button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Register with Twitter</button>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p class="mat-body-1">Already have an account? <a class="mat-body-1" href="/login">Login</a></p>
    </div>
  </div>
</div>
