<div class="container ">
  <div class="row justify-content-center">
    <mat-card class="col-4 card">
      <mat-card-header>
        Register for the tokensale
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="email">
              <mat-error *ngIf="registerForm.controls['email'].hasError('required') || registerForm.controls['email'].hasError('email')">
                Not a valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <label class="mat-body-1">{{"  " + errorMessage}}</label>
            <label class="mat-body-1">{{"  " + successMessage}}</label>
          </div>
          <button mat-raised-button color="primary" class="col" (click)="tryRegister(registerForm.value)">
            Register
          </button>
        </form>
      </mat-card-content>
      <div class="justify-content-center">
        <p class="mat-body-1">
          Already have an account? <a class="mat-body-1" href="/login">Login</a>
        </p>
      </div> 
    </mat-card>
  </div>
</div>

